/* Agregados unos pocos estilos y medias queries para poder adaptar el tamaño del texto en el banner de la página "la casita barroca" */

.bg-barro {
    background-color: #8E37A6;
}

body {
    background-color: rgb(231, 211, 202, 25%);
}

.card {
    box-shadow: 2px 2px 5px rgb(0,0,0,25%);
}

.navegacion li:hover {
    transform: scale(1.1);
    font-weight: bold;
}


.boton {
    background-color: #893492;
    color: white;
    transition: background 0.3s;
}

.boton:hover {
    background-color: #711d7a;
    color: white;
    border: solid 1px #711d7a;
}

.proyecto__texto {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.proyecto__texto p{
    font-size: 1.5rem;
}
.proyecto__texto h3{
    font-size: 2rem;
    font-weight: bold;
}
.proyecto__img {
    display: flex;
}
/* .card{
    position: relative;
} */
.card span{
    position: absolute;
    background-color: #893492;
    color: white;
    top: 20px;
    left: 12px;
    padding: 5px;
    animation: promotion 2s infinite;
}
@keyframes promotion {
    0%{
        background-color: #893492;
        color: white;
    }
    50%{
        background-color:black;
    }
    100%{
        background-color: #893492;
        color: white;
    }
}

.card {
    transition: transform 0.5s;
}
.card:hover{
    transform: scale(1.15);
}

/* .about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 50px;
    font-size: 1.3rem;
    align-items: center;
} */
.about{
    font-size: 20px;
    line-height: 2rem;
}
.about span{
    font-weight: bold;
}

.about img {
    float: right;
    width: 400px;
}


.servicios {
    margin-top: 50px;
}

.servicios__detalle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 30px;
}
.servicios__detalle-card {
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,25%);
}
.servicios__detalle-card img {
    width: 95%;
    margin: 0 10px 10px;
}


.ACstyle-title{
    font-size: 3rem;
}

.ACstyle-text {
    font-size: 2rem;
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px;
    /* align-items: center; */
}

.contacto__btn {
    text-align: center;
}



@media (max-width: 992px) {
    .ACstyle-title{
        font-size: 2rem;
    }
    
    .ACstyle-text {
        font-size: 1.5rem;
    }

    .contacto{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .formulario{
        max-width: 300px;
    }
}

@media (max-width: 768px){
    .proyecto__img{
        flex-direction: column;
    }
    .proyecto__img img{
        margin: 20px 0;
    }

    .servicios__detalle {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .ACstyle-title{
        font-size: 1.5rem;
    }
    
    .ACstyle-text {
        font-size: 1rem;
    }
}