.bg-barro {
    background-color: $bg-barro;
}

body {
    background-image: linear-gradient(to bottom right, $bg-body, $bg-body-25);
}

main {
    padding: 20px 0;
}

.titulo-index {
    text-align: center;
    margin: 20px 0;
}

.titulos {
    @extend .titulo-index;
    background-color: $bg-barro;
    padding: 10px;
    color: whitesmoke;
}

.mapa {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
        color: white;
        transition: all 0.3s;
    
        &:hover{
        transform: scale(1.1);
        font-weight: bold;
        }

        &:active{
        transform: scale(0.9);
        }
    }
}

$icons: (
    "whatsapp": #25D366,
    "envelope": #DB4437,
    "instagram": #405DE6,
);

@each $name, $color in $icons {
    .bi-#{$name}{
        transition: all 0.3s;
        &:hover{
            color: $color;
        }   
    }
}

