.proyecto__texto {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    & p {
        font-size: 1.5rem;  
    }

    & h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.proyecto__img {
    display: flex;
}

/* .card span{
    position: absolute;
    background-color: $bg-barro;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    top: 20px;
    left: 12px;
    padding: 5px;
    animation: promotion 2s infinite;
}

@keyframes promotion {
    0%{
        background-color: $bg-barro;
        color: white;
    }
    50%{
        background-color:black;
    }
    100%{
        background-color: $bg-barro;
        color: white;
    }
} */

/* Eliminé los estilos y animaciones dados a la etiqueta span para poder usar un mixin */
@mixin span($color, $fondo) {
    position: absolute;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 20px;
    left: 12px;
    padding: 5px;
    color: $color;
    background-color: $fondo;
}

.span1 {
    @include span(white, $bg-barro);
}

.span2 {
    @include span($bg-body, black);
}

.span3 {
    @include span(rgb(212, 216, 198), blue);
}

.mapa {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
        color: white;
    }
}

/* media querie */
@media (max-width: 768px){
    .proyecto__img{
        flex-direction: column;

        & img {
            margin: 20px 0;
        }
    }
}


